/* css basics */
html{
  scroll-behavior: smooth;
}
.spn{
  color: rgb(184, 10, 10);
  text-transform: uppercase;
  cursor: pointer;
}

/* css responsive card */
.main {
  text-align: center;
}
.amain {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.pimg {
  display: block;
  max-width: 100%;
  height: auto;
}
.card{
  width: min(100%, 350px);
  background-color: #cbd5e1;
  border: 2px solid black;
  border-radius: 15px;
  padding: 1rem;
}
.card img{
  border: 5px double black;
  border-radius: 50%;
}
.card figcaption{
  font-weight: bolder;
  font-size: 2rem;
  margin: 1rem;
}

/* css media queries and responsive web design */
@media screen and (min-width: 280px) {
 /*  very small */
  .amain{
    justify-content: center;
    flex-flow: row wrap;
    padding: 1rem;
  }
  .card{
    width: min(100%, 400px);
  }

  .container img{
    width: 90%;
    height: auto;
    min-width: 100px;
    border: 5px double gray;
  }
  .motherboard{
    width: 90%;
    height: auto;
  }
  .pcset{
    width: 70%;
    height: auto;
  }
}

@media screen and (min-width: 576px) {
  /* small */
  .amain{
    justify-content: center;
    flex-flow: row wrap;
    padding: 1rem;
  }
  .card{
    width: min(100%, 400px);
  }
  .card:last-child{
    order: -1;
  }
 
  .container img{
    width: 80%;
    height: auto;
    min-width: 100px;
    border: 5px double gray;
  }
  .motherboard{
    width: 90%;
    height: auto;
  }
  .pcset{
    width: 50%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  /* medium */
  .card{
    width: min(100%, 325px);
  }
  .card figure{
    flex-flow: column-reverse;
  }
  .card figcaption{
    margin: 0.1em 0;
  }
  .card p {
    margin-top: 1rem;
  }
  .card:last-child{
    order: 1;
  }

  .container img{
    width: 50%;
    height: auto;
    min-width: 100px;
    border: 5px double gray;
  }
  .motherboard{
    width: 100%;
    height: auto;
  }
  .pcset{
    width: 40%;
    height: auto;
  }
}

@media screen and (min-width: 992px) {
  /* large */
  .card{
    width: min(100%, 400px);
  }
  .card:nth-child(2){
    order: -1;
  }

  .container img{
    width: 50%;
    height: auto;
    min-width: 100px;
    border: 5px double gray;
  }
  .motherboard{
    width: 120%;
    height: auto;
  }
  .pcset{
    width: 35%;
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  /* xl */
  .card{
    width: min(calc(33% - 1rem), 330px);
  }
  .card:last-child{
    order: -2;
  }

  .container img{
    width: 60%;
    height: auto;
    min-width: 100px;
    border: 5px double gray;
  }
  .motherboard{
    width: 140%;
    height: auto;
  }
  .pcset{
    width: 40%;
    height: auto;
  }
}

@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
  /* mobile device landscape */
  .amain{
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch;
  }
  .card{
    width: min(calc(33% - 0.25rem), 200px);
  }
  .card figcaption, .card p {
    font-size: 0.8rem;
  }

  .container img{
    width: 70%;
    height: auto;
    min-width: 100px;
    border: 5px double gray;
  }
  .motherboard{
    width: 100%;
    height: auto;
  }
  .pcset{
    width: 40%;
    height: auto;
  }
}

/* css pseudo-classes, pseudo-elements, pseudo-selectors */
nav a:any-link {
  color: rgb(0, 0, 0);
}
nav a:active{
  color: red;
}
.card:nth-child(2){
  background-color: papayawhip;
}

.card figcaption::after{
  content: '👋';
  display: block;
}
.card p {
  position: relative;
}
.card p::before{
  content: open-quote;
  font-size: 3em;
  position: absolute;
  top: -0.25em;
  left: -0.5em;
}
.card p::after{
  content: close-quote;
  font-size: 3em;
  position: absolute;
  top: -0.25em;
  right: -0.5em;
}
.card figcaption::first-letter{
  font-size: 3rem;
}

/* css custom variables */
:root{
  /* FONT */
  --FF: sans-serif;
  --FS: 1.1rem;
 /*  COLOR */
 --BGCOLOR: whitesmoke;
 --BGCOLOR1: rgb(61, 151, 199);
}
body{
  font: var(--FS) var(--FF);
  background-color: var(--BGCOLOR);
  background-image: linear-gradient(var(--BGCOLOR),var(--BGCOLOR1), var(--BGCOLOR));
}

/* css function */
:root{
  --FSF: min(1.3rem, 3vh);
  --FBT: max(1.8rem, 3vh);
}
body{
  font: var(--FSF) var(--FF);
}
.max{
  font-size: var(--FBT);
}
